@import '../theme/index.less';
@class-prefix-button: ~'mbu-button';
.@{class-prefix-button} {
  position: relative;
  .center();
  /* #ifndef rn */
  box-sizing: border-box;
  /* #endif */
  padding: 0;
  margin: 0;
  height: auto;
  border-style: solid;
  /* prettier-ignore */
  border-width: 1Px;
  /* prettier-ignore */
  padding-left: 12Px;
  /* prettier-ignore */
  padding-right: 12Px;

  /* 按钮大小*/
  &-mini {
    /* prettier-ignore */
    padding-top: 3Px;
    /* prettier-ignore */
    padding-bottom: 3Px;
  }
  &-small {
    /* prettier-ignore */
    padding-top: 3Px;
    /* prettier-ignore */
    padding-bottom: 3Px;
  }
  /* 默认 */
  &-middle {
    /* prettier-ignore */
    padding-top: 8Px;
    /* prettier-ignore */
    padding-bottom: 8Px;
  }
  &-large {
    /* prettier-ignore */
    padding-top: 12Px;
    /* prettier-ignore */
    padding-bottom: 12Px;
  }
  &-modal {
    /* prettier-ignore */
    padding-top: 10Px;
    /* prettier-ignore */
    padding-bottom: 10Px;
  }

  &-disabled {
    opacity: 0.6;
  }

  /* 文字大小 */
  &-text {
    font-weight: normal;
    &-mini {
      /* prettier-ignore */
      font-size: 13Px;
      /* prettier-ignore */
      line-height: 18Px
    }
    &-small {
      /* prettier-ignore */
      font-size: 15Px;
      /* prettier-ignore */
      line-height: 21Px;
    }
    &-middle {
      /* prettier-ignore */
      font-size: 17Px;
      /* prettier-ignore */
      line-height: 24Px;
    }
    &-modal {
      /* prettier-ignore */
      font-size: 18Px;
      /* prettier-ignore */
      line-height: 25Px;
    }

    &-large {
      /* prettier-ignore */
      font-size: 18Px;
      /* prettier-ignore */
      line-height: 25Px;
    }
  }

  /* 形状 */
  &-shape {
    &-default {
      /* prettier-ignore */
      border-radius: 4Px
    }
    &-rounded {
      /* prettier-ignore */
      border-radius: 99999px;
    }
    &-rectangular {
      border-radius: 0;
    }
  }

  &-disabled {
    opacity: 0.6;
  }
}
